*{
    padding: 0;
    margin: auto;
    text-align: center;
    }
    #contenedor
    {

    background-color: rgb(17, 226, 216);
    position: absolute;
    right: 20%;
    margin-top: 7%;
    border-radius: 20px;
    width: 50%;
    height: 50%;
    }
    #contenedor #textocontenedor
    {
    margin-top: 10%;
    margin: 30%;
    right: 20%;
    }
    #nombre
    {
    
    margin: 40%;
    right: 10%;
    
    }
    #apellido
    {
        margin: 50%;
        right: 10%;
    
    }
    #g-mail
    {
        margin: 30%;
        right: 10%;
    
    }
    #documento
    {
        margin: 30%;
    right: 10%;
    }
    #registar
    {
        margin: 30%;
    right: 10%;
    }
    #contenedor #textocontenedor{
        color: rgb(245, 159, 159);
        position: center;
        margin: 0%;
        right: 40%;
    }
    #contenedor #cajasdetexto{
        margin-top: 15%;
        right: 20px;
    }
    body
    {
background-color: rgb(121, 14, 243);

    }
    #imegendefondo
    {
        margin-top: 20%;
       
        margin-right: 20%;
    }
    #imagendefondo img
    {
        margin-top: 5%;
        width: 80%;
        right: 75%;
        
    }

    #cabecera
    {
        background-color: rgb(18, 19, 19);
        width: 95%;
        border-radius: 20px;
        margin-top: 0.5%;
        height:  45px;
     
    }
    #cabecera li{
        list-style-type: none;
        display: inline-grid;
        margin-top: 0%;
        margin-right: 1%;
       background-color: rgb(17, 226, 216);
       width: 15%;
       border-radius: 18px;
       

    }
    #cabecera li a{
        color: black;
        font-size: 150%;
        font-family: "Times New Roman",times, serif;
        text-decoration: none;

    }
    #cabecera li a:hover
    {
        color: rgb(180, 9, 248);

    }
    #cabecera li:hover
    {
        
        background: linear-gradient(to right, blue, white);
    }

    #subseccion1, #subseccion2, #subseccion3{
      
       top: 100%;
       left: 0px;
       background-color: rgb(11, 156, 253);
        font: normal 0.2 arial;
        padding: 0.2em 0.5cm;
        display: none;
        width: 90%;
        border-radius: 20px;
        z-index: 2;
     
    }
 